<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="aspectRegistrationForm" >
			<h1 style="color:#006ECC">
				<h:outputText  value="Aspect Word Entry" />
			</h1>
			 <p:messages globalOnly="true" showDetail="true"  autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-30, width-70" layout="grid">

		
				
					<p:outputLabel value="Aspect Category" />
				<h:panelGroup>
				<p:selectOneMenu id="category" value="#{aspectWordDataAction.selectedcategory}" style="width:150px">
				 <p:ajax listener="#{aspectWordDataAction.onCategoryChange}" update="aspectword" />
                <f:selectItem itemLabel="Select Category" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{aspectWordDataAction.aspectCategory}" />
            	</p:selectOneMenu>
					<p:message for="category" />
				</h:panelGroup>
				<p:outputLabel value="Enter Aspect Words(seperated by comma)" />
				<h:panelGroup>
					<p:inputTextarea id="aspectword" rows="8" cols="60"
						label="Address" autoResize="false" maxlength="5000"
						styleClass="width-60 text-area-noresize"
						value="#{aspectWordDataAction.aspectWord}">
						<f:validateLength maximum="5000" />
					</p:inputTextarea>
					<p:message for="aspectword" />
				</h:panelGroup>														
			</p:panelGrid>
				<p:commandButton id="calculate"
						value="Save"
						update="aspectRegistrationForm"
						process="aspectRegistrationForm"
						styleClass="btn"
						action="#{aspectWordDataAction.saveAspectWords}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
