<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="reviewResultForm" >
		<center>
			<h1>
				<h:outputText value="Movie Review Result by Each Document"  />
			</h1>
			</center>
		
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			
	 <div class="ui-grid">
			<div class="ui-grid-row">
							
			</div>			
			</div>
			 <h:outputLabel style="font-weight:bold; font-size: 22px;" value="Positive Count: #{mReviewResAction.positive} and Negative Count:
			 #{mReviewResAction.negative}"></h:outputLabel>
			<p:scrollPanel style="width:900px;height:450px">
			 <p:panelGrid columns="4" border="2" cellpadding="5" style="margin: 50px;"  >
			 <h:outputLabel style="font-weight:bold; font-size: 20px;" value="No"></h:outputLabel>
			 <h:outputLabel style="font-weight:bold; font-size: 20px;" value="Sentence"></h:outputLabel>
			 <h:outputLabel style="font-weight:bold; font-size: 20px;" value="Aspect Type"></h:outputLabel>
			 <h:outputLabel style="font-weight:bold; font-size: 20px;" value="Sentiment Analysis"></h:outputLabel>
				

            	<c:forEach var="value" items="#{mReviewResAction.reslist}" varStatus="inner">
					<h:outputText value="#{inner.index + 1}."></h:outputText>
                	<h:outputText class="result"  value="#{value.sentence}"></h:outputText>
                	<h:outputText class="result"  value="#{value.category}"></h:outputText>
                	<h:outputText class="result" value="#{value.type}"></h:outputText>
                	
                 </c:forEach>
    		</p:panelGrid>
			
			</p:scrollPanel>

				<p:commandButton id="back"
						value="Back"
						action="movieReview" 
						styleClass="btn"
						 immediate="true" ajax="false">
					</p:commandButton>
					<p:commandButton id="viewchart"
						value="View as Chart"
						styleClass="btn"
						 immediate="true" ajax="false">
					</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>