

input[type=text], input[type=password] {
    width: 50%;
    padding: 13px 20px;
    margin: 8px 0;
    border: 1px solid #0080ff;
    box-sizing: border-box;
}


.imgcontainer {
    text-align: center;
    margin: 24px 70px 12px 0;
}
.space
{
	width:50%;
}

img.stc {
    size: 50%;
    border-radius: 30%;
}




.container {
   width: 550px;
   height: 320px;
   border-radius : 8px;
   border: 1px solid #c0c0c0;
    margin: 0 auto; 
     background-color: #fff;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      position: absolute;
      vertical-align:middle;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	vertical-align: middle;
	display: table-cell;
margin-top:250px;
 margin-left: auto;
    margin-right: auto; 
}




.loginBody
{
	background-color: #0f9200;
}

.outer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.btn
{
	font-size : 15px !important;
	background-color: #0f9d58 !important;
	border-color:#0f9d58;
	font-weight: bold;
	margin:5px 0px 20px 15px;
	
}

.btn:hover{
	border: 1px solid #30cb00;
	background: #a4fba6;
	color:#a4fba6;
}

.btn:active{
	border: 1px solid #30cb00;
	background: #a4fba6;
	color:#a4fba6;
	
}

.btn:focus{
	border: 1px solid #30cb00;
	background: #a4fba6;
	color:#a4fba6;
}

.btn:visited{
	border: 1px solid #30cb00;
	background: #a4fba6;
	color:#a4fba6;
}



}