<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form>
	
		<div id="page-header">

			<div id="header-logo" class="logo-bg">
				<p:commandLink >
                    Movie Review
                </p:commandLink>
			</div>
			<div class = "center-title">
			<h2 >
			<h:graphicImage url ="/images/UCSYLogo.jpg" width="25px" height="27px"></h:graphicImage>
			<h:outputText value=" " width="3px"></h:outputText>
				<h:outputText value = "Aspect-Based Sentiment Analysis using Lexicon Based Approach"></h:outputText>
				<h:outputText value=" " width="3px"></h:outputText>		
			<h:graphicImage url ="/images/UCSYLogo.jpg" width="25px" height="27px"></h:graphicImage>
						
			</h2>
		</div>
		
		</div>
		
	</h:form>
</ui:composition>