<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<div class="leftpanel">
			<ul class="nav nav-pills nav-stacked">
				<li>
				
					<a class="parent">
					
					
					<p:commandLink immediate="true" class="child" action="abouthome">
						<i class="fa fa-cloud">
						</i>
						<h:outputText value="Home" /> 
					</p:commandLink>
					</a>
				</li>
				<li>
					<p:commandLink immediate="true" class="child" action="movieReview">
						<i class="fa fa-edit"></i>
						<span><h:outputText value="Calculate Review" /> </span>
					</p:commandLink>
				</li>
				<li>
					<p:commandLink immediate="true" class="child" action="aspectCategory">
						<i class="fa fa-edit"></i>
						<span><h:outputText value="Aspect Word Category" /> </span>
					</p:commandLink>
				</li>
				
			</ul>
		</div>
		<!-- leftpanel -->
	</h:form>
</ui:composition>
